<div id="titulo">
    <h1> Usuários Cadastrados </h1>
    <a href="../home"><button class="btn btn-success btnVoltar" type="button"> Voltar Home
        </button></a>
</div>
<table class="table table-striped table-bordered" id="tblUsuarios">
    <thead>
        <tr>
            <th> Nome</th>
            <th> Email </th>
            <th> Senha </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td id="tdNome"> {{ usuario.nome }} </td>
            <td> {{ usuario.email }} </td>
            <td> <input type="password" id="senha" class="form-control" [(ngModel)]="usuario.senha" name="senha"
                    disabled="disabled"></td>
            <td id="tdAcao">
                <button (click)="updateUsuario(usuario.id)" class="btn btn-success btnAtualizar"> Atualizar </button>
                <button (click)="deleteUsuario(usuario.id)" class="btn btn-success btnDeletar"
                    style="margin-left: 10px"> Deletar </button>
                <button (click)="usuarioDetails(usuario.id)" class="btn btn-success btnMostrar"
                    style="margin-left: 10px"> Mostrar </button>
            </td>
        </tr>
    </tbody>
</table>