<div class="row" id="divPrincipal">
    <div class="card col-md-6 offset-md-3 offset-md-3" id="divForm">
        <div class="card-body">
            <h3 class="text-center"> Cadastrar Usuário </h3>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label> Nome </label>
                    <input type="text" class="form-control inputText" id="nome" [(ngModel)]="usuario.nome" name="nome">
                </div>
                <div class="form-group">
                    <label> Email </label>
                    <input type="text" class="form-control inputText" id="email" [(ngModel)]="usuario.email"
                        name="email">
                </div>
                <div class="form-group">
                    <label> Senha</label>
                    <input type="password" id="senha" class="form-control inputText" [(ngModel)]="usuario.senha"
                        name="senha">
                </div>
                <br />
                <button class="btn btn-success" type="submit"> Salvar </button>
                <a href="../home"><button class="btn btn-success" type="button"> Voltar Menu
                    </button></a>
            </form>
        </div>
    </div>
</div>