<div class="body">
    <div class="menu">
        <div class="part1_menu">
            <img src="assets/images/logo1.png">
        </div>
        <div class="part2_menu">
            <h2>Qual o seu próximo destino?</h2>

            <div class="locais_menu">
                <a href="https://www.instagram.com/p/CWGjjtiP9Yp/" target="_blank">
                    Bahia •
                </a>

                <a href="https://www.instagram.com/p/CWGjPZ8JyIZ/" target="_blank">
                    Goiás •
                </a>

                <a href="https://www.instagram.com/p/CWGijoKpt7j/" target="_blank">
                    Minas Gerais •
                </a>

                <a href="https://www.instagram.com/p/CWGibR5Jk7l/" target="_blank">
                    Rio de Janeiro •
                </a>

                <a href="https://www.instagram.com/p/CWGiK1up7Qu/" target="_blank">
                    Santa Catarina •
                </a>

                <a href="https://www.instagram.com/p/CWGiBSFpnfa/" target="_blank">
                    São Paulo
                </a>
            </div>
        </div>
    </div>
    <!-- Inicia Car -->
    <div id="conteudo">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="assets/images/bahia.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="h5N">Bahia</h5>
                        <p class="pN">Pelourinho</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="assets/images/goias.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="h5N">Goiás</h5>
                        <p class="pN">Alto Paraíso de Goiás</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="assets/images/minas.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="h5N">Minas Gerais</h5>
                        <p class="pN">Belo Horizonte</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="assets/images/rio.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="h5N">Rio de Janeiro</h5>
                        <p class="pN">Arpoador</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="assets/images/santa.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="h5N">Santa Catarina</h5>
                        <p class="pN">Caminhos da Fronteira</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="assets/images/sao.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="h5N">São Paulo</h5>
                        <p class="pN">Arena Palmeiras</p>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Acaba Car -->
    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: rgb(54,84,58, 0.8);">
            <!-- Grid container -->
            <div class="container p-4 pb-0" id="footer1">
                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">Para saber mais →</span>
                        <!-- <a href="../create-employee/" id="cadastro">
                            <button id="buttonCadastrar" type="button" class="btn btn-outline-light btn-rounded">
                                Cadastrar-se
                            </button>
                        </a> -->
                        <a href="../create-employee/"><button class="btn btn-success btnCadastrar" type="button"> Cadastrar-se
                        </button></a>
                    </p>
                </section>
                <section>
                    <p class="d-flex justify-content-center align-items-center">
                        <a href="">
                            <img id="redes" src="assets/images/face.png" alt="">
                        </a>
                        <a href="https://www.instagram.com/projetoexploraai/" target="_blank">
                            <img id="redes" src="assets/images/insta.png" alt="">
                        </a>
                        <a href="">
                            <img id="redes" src="assets/images/zap.png" alt="">
                        </a>
                    </p>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3">
                © 2021 Copyright -
                <a id="tv"  href="https://www.instagram.com/projetoexploraai/" target="_blank">Explora Aí -
                    T.V.</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
    <!--
</body>

</html> -->